NodeRedFlowPart5.txt
[{"id":"699d3586.8ac1ec","type":"mqtt in","z":"ba0988d1.5a2108","name":"","topic":"wifiTemp","qos":"2","broker":"6d400250.ca97ac","x":163,"y":99,"wires":[["952bbcfe.a37d3","139f64d3.cad32b","b2f0dc38.f9e5d"]]},{"id":"b97ecc26.b32f7","type":"mqtt in","z":"ba0988d1.5a2108","name":"","topic":"wifiHumidity","qos":"2","broker":"6d400250.ca97ac","x":154,"y":273,"wires":[["952bbcfe.a37d3","a4f67014.d95fb","77a963d5.a8b76c"]]},{"id":"827c968.c081368","type":"ui_gauge","z":"ba0988d1.5a2108","name":"","group":"e376d83a.3b8178","order":1,"width":0,"height":0,"gtype":"gage","title":"DHT22 Temp °C","label":"℃","format":"{{value}}","min":"-40","max":"50","colors":["#0651ff","#00ff00","#ffff00"],"seg1":"","seg2":"","x":875.5,"y":101,"wires":[]},{"id":"92800d14.8ac84","type":"ui_gauge","z":"ba0988d1.5a2108","name":"","group":"e376d83a.3b8178","order":2,"width":"0","height":"0","gtype":"donut","title":"DHT22 Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870.5,"y":273,"wires":[]},{"id":"139f64d3.cad32b","type":"ui_chart","z":"ba0988d1.5a2108","name":"temp chart","group":"7de2cff3.b090f","order":1,"width":"6","height":"6","label":"Temp °C","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","ymin":"-20","ymax":"40","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#ff0000","#ff0000","#ff0000","#ff0000","#ff0000","#ff0000","#ff0000","#ff0000","#ff0000"],"x":864.5,"y":163,"wires":[[],[]]},{"id":"a4f67014.d95fb","type":"ui_chart","z":"ba0988d1.5a2108","name":"humidity chart","group":"7de2cff3.b090f","order":2,"width":"6","height":"3","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#6fffff","#6fffff","#6fffff","#6fffff","#6fffff","#6fffff","#6fffff","#6fffff","#6fffff"],"x":869.5,"y":330,"wires":[[],[]]},{"id":"77a963d5.a8b76c","type":"trigger","z":"ba0988d1.5a2108","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"2","extend":false,"units":"min","reset":"","name":"HumidityTrigger","x":558.5000152587891,"y":190.00000762939453,"wires":[["92800d14.8ac84"]]},{"id":"b2f0dc38.f9e5d","type":"trigger","z":"ba0988d1.5a2108","op1":"","op2":"-40","op1type":"pay","op2type":"str","duration":"2","extend":false,"units":"min","reset":"","name":"TempTrigger","x":538.5000152587891,"y":70.00000476837158,"wires":[["827c968.c081368"]]},{"id":"952bbcfe.a37d3","type":"debug","z":"ba0988d1.5a2108","name":"","active":false,"console":"false","complete":"payload","x":595.000129699707,"y":466.00002670288086,"wires":[]},{"id":"6d400250.ca97ac","type":"mqtt-broker","z":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"e376d83a.3b8178","type":"ui_group","z":"","name":"Temperature Gauges","tab":"8c5e89cd.c53908","order":1,"disp":true,"width":"6"},{"id":"7de2cff3.b090f","type":"ui_group","z":"","name":"Graphs","tab":"8c5e89cd.c53908","order":2,"disp":true,"width":"6"},{"id":"8c5e89cd.c53908","type":"ui_tab","z":"","name":"Humidity","icon":"dashboard","order":2}]